<% content_for(:header) do %>
  <%= render(:partial => "css/help") %>
<% end %>

<h2>When I click the play button, the radio doesn't appear</h2>
<p>The window will open in another window so check all your browser windows. If you have chosen to listen in a different and you don't have the player installed then this will cause problems.</p>
<h3>How do I add radio networks to my profile?</h3>
<p>Click on the <a href="<%=FACEBOOK["canvas_path"]%>prefs">Settings</a> link at the top of the page. Tick all the networks you would like to appear on your profile page. Press Update.</p>
<h3>Why have the local radio stations got no information about who's on?</h3>
<p>There is currently no public way of accessing local station data. When one becomes available, I will implement it.</p>