<% content_for(:header) do %>
  <%= render(:partial => "css/help") %>
<% end %>

<h2>Safari</h2>
<p>Having problems with the clicking the play button on your profile page and nothing happening? The likely cause is the browsers built in pop-up blocker. This page will show you how to update the pop-up blocker settings for various versions of <strong>Safari</strong> (Windows and Mac).</p>

<ul>
<li><a href="#mac">Safari (Mac) instructions</a></li>
<li><a href="#windows">Safari (Windows) instructions</a></li>
</ul>

<h3 id="mac">Safari (Mac)</h3>
<p>Click on the Safari menu item at the top of the screen and from the drop-down, select the setting 'Block Pop-Up Windows'</p>

<h3 id="windows">Safari (Windows)</h3>
<p>Click on the Safari menu item at the top of the screen and from the drop-down, select the setting 'Block Pop-Up Windows'</p>