<div class="first_time">
  <p><strong>Welcome..</strong> You can now select the radio stations you are interested in below. You will need to do this and press update in order to see anything on your profile page.</p>
</div>